@model IEnumerable<CinemaManagement.Models.Nationality>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        @foreach (CinemaManagement.Models.Nationality details in Model)
        {
            <tr>
                <td>@details.id_N</td>
                <td>@details.N_Name</td>
                <td>@details.Status</td>
            </tr>
        }
    </table>
</body>
</html>
